@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-md: 50rem;
    --animate-slideDown: openMenu 0.5s ease-in-out forwards;

    @keyframes openMenu {
            0% {
                transform: scaleY(0)
            }
    
            80% {
                transform: scaleY(1.2)
            }
    
            100% {
                transform: scaleY(1)
            }
        }
}    
